
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5; 

}

.container {

margin: 80px auto;
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #eee;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
.profiles{
  display: flex;
  flex-direction: column;
}
.profile-header {
display: flex;
align-items: center;
padding: 20px;
background-color: #f9f5ee;
border-radius: 5px 5px 0 0;
}

.profile-image {
width: 100px;
height: 100px;
border-radius: 50%;
object-fit: cover;
}
.booking-details{
  width: 60%;
 /* height: 400px; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
}
.profile-info {
margin-left: 70px;
}
.detail-label{
margin-right: 30px;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
font-size:large;
}
.alldetails{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.lists{
  border: none;
  height: 50px;
  width: 250px;
  background-color: #e9e1e1;
  border-radius: 20px;
  justify-content: center;
  color: rgb(46, 46, 46);

}
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack elements on top of each other */
  }

  .profiles {
    flex-direction: row; /* Display profile info next to image on small screens */
  }

  .booking-details {
    width: 100%; /* Take full width on small screens */
  }

  .profile-info {
    margin-left: 20px; /* Adjust margin for smaller layout */
  }
}
/* fella; */
/* Add styles for profile popup and form elements here */