@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0;
}
body{
  background: white;
    color: black;
    font-family: "Expletus Sans", sans-serif;

text-align: center;
  }
.testitle h1{
  font-family: "Expletus Sans", sans-serif;
  color: white;
  font-weight: 800;
  padding-top:30px;
}
.toppin{
    background-color:whitesmoke;
    color: black;
    height: 0px;
    justify-content: center;
    align-items: center;
    
}

.class-nav{
    display: flex;
    height: 0px;     
  }
  nav{
    
    display:flex;
    position: relative;
    
  }
  nav ul{
    display: flex;
  margin-left: 0px;
  
  }
  nav li {
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  nav img{
    display: flex;
    height: 80px;
    width: 120px;
    
  }
  
  .nav-text{
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    margin-top: 39px;
    margin-left: -7px;
    
    margin-right: -100px;
  }
.sidebar {
    position: fixed;
    opacity: var(--webkit-backdrop-filter);

    top: 0;
    left:0px;
    width: 0px;
    height: 100vh;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(32, 30, 30, 0.2);
      backdrop-filter: blur(17px);
      --webkit-backdrop-filter: blur(17px);
      border-left:0px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
  }
  .sidebar:hover {
    width: 200px;
    
  }
  .sidebar:hover .logo h2 {
    display: block;
  }
  .sidebar .links {
    list-style: none;
    margin-top: 100px;
  color: #fff;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
  }
  .sidebar .links::-webkit-scrollbar {
    display: none;
  }
  .links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
  }
  h2{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .message{
    font-family: "Nova Slim", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .links li:hover {
    cursor: pointer;
    background: rgb(35, 35, 35);
  }
  .links h4 {
    color: #fff;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
  }
  .sidebar:hover .links h4 {
    display: block;
  }
  .links hr {
    margin: 10px 10px;
    border: 1px solid #4c4c4c;
  }
  .sidebar:hover .links hr {
    border-color: transparent;
  }
  .links li span {
    padding: 12px 10px;
  }
  .links li a {
    padding: 10px;
    color: #fff;
    display: none;
    font-weight: 200;
    white-space: nowrap;
    text-decoration: none;
  }
  .sidebar:hover .links li a {
    display: block;
  }
  .links .logout-link {
    margin-top: 20px;
  }
  .image-class{
      display: flex;
       background-size: cover;
      background-position:center;
      height: 400px;
      padding: 30px;
      animation:10s  infinite linear anim-div;
      align-items: center;
      justify-content: center;
      
  }

  @keyframes anim-div {
    0%{
      background-image: linear-gradient(#0001, #000),  url('images/backtour.jpg');
   
     background-position: center;
      background-size:cover;
    
    }
    50%{
      background-image: linear-gradient(#0001, #000),  url('images/beach.jpg');
   background-position: center;
      background-size:cover;
    }
    100%{
      background-image: linear-gradient(#0001, #000),  url('images/beauti.jpg');
    background-size: cover;
    background-position: center;

    }

  }
  .motto h2{
    
      display: flex;
     margin-top: 60px;
      align-items: center;
      justify-content: center;
      letter-spacing:0px;
      color: white;
      font-size: 3.6rem;
  }
  .motto h1{
    color: white;
    font-size: 3.4rem;
    font-weight: 100px;
    margin-top: -40px;
  }
  .motto p{
    color: white;
    text-align:center;
    padding: 10px;
    
  }
  button {
    display: flex;
    height: 30px;
    width: 150px;
    margin-right: 0px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  font-family: "Expletus Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: white;
    background-color:#bc6c25;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;transition: 0.2s;
   

  }
   
   button:hover {
    color: black;
    background-color: #bc6c25;
   }
   
   button:active {
    box-shadow: none;
   }
   .middle{
    background-color: white;
    color: black;
    padding: 50px;
    min-height: 500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
   }
   .middle img{
    max-width: 500px;
    min-height: 400px;
    display: flex;
    object-fit:cover;
    overflow: hidden;
   }
   .middle p{
    font-family: inherit;
    max-width: 400px;
    text-align: left;
    padding-left: 20px;
    margin: auto;
    padding-right: 20px;
    overflow:-moz-hidden-unscrollable;
    

   }
   .middle-main{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    padding: 0px;
    gap: 10px;
    align-items: center;
    margin-top: 0px;
overflow: hidden;


   }
   .middle-main span{
   font-size: 1.5rem;
  font-weight: 800;

   }
   .middle-main button{
    margin-top: 30px;
    margin-left: 0px;
   }
   .servtitle{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px;
    padding-top: 50px;
    font-weight: 800;
    
    font-size: 1.9rem;
    text-align: center;
   }
   .servtitle h3{
    font-weight: 800;
   }
   .img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
    padding: 0px;
    margin-left: 10px;
    overflow: hidden;
    


   }
   .img-container img{
width: 200px;
height: 200px;
object-fit: contain;
   }
   .img-box1{
    background-image: url(images/pass.jpg);
    width: 200px;
    
    height: 200px;
    background-size: cover;
    background-position: center;
   }
   .img-box2{
    background-image: url(images/hotel.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
   }
   .img-box3{
    background-image: url(images/car.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
   }.img-box4{
    background-image: url(images/tour.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
   }
   .cont-1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
   }
   .cont-1 p{
    
    max-width: 300px;
    padding: 30px;
    text-align: left;
    margin-left: 20px;
   }
   .cont-1 p bold{
    font-size: 1.2rem;
    font-weight: 800;

   }
   .cont-1 button{
    
    margin: auto;
    margin-top: 30px;

   }
   .service{
    background-color: #111;
    color: wheat;
    padding-bottom: 50px;
   }
   .location{
    color: white;
    background-color: blue;
    

  }
  
  .testitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
  }
  
  .testimony{
    flex-direction: row;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;


  }
  
  .task {
    color: #2e2e2f;
    cursor: move;
    background-color: white;
  text-align: left;
    padding: 1rem;
    border-radius: 0px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    margin-bottom: 1rem;
    border: 3px dashed transparent;
    max-width: 300px;
  }
  
  .task:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color: rgba(162, 179, 207, 0.2) !important;
  }
  
  .task p {
    font-size: 15px;
    margin: 1.2rem 0;
  }
  
  .tag {
    border-radius: 100px;
    padding: 2px 13px;
    font-size: 12px;
    color: #111;
  }
  
  .tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    background: transparent;
    border: 0;
    color: #c4cad3;
    font-size: 17px;
  }
  
  .options svg {
    fill: #9fa4aa;
    width: 20px;
  }
  
  .stats {
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stats div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .stats svg {
    margin-right: 5px;
    height: 100%;
    stroke: #9fa4aa;
  }
  
  .viewer span {
    margin-right: -10px;
    border-radius: 50%;
    border: 1px solid #111;
    display: grid;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 2px;
  }
  
  .viewer span svg {
    stroke: black;
  }
  .main2{
    background-image: url(images/pexels-soner-arkan-277045183-12943931.jpg);
    margin-top: 0px;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  
  }
  .iframe{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 300px;
height: 200px;
}
  .maptext{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0;
    padding-top: 60px;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  .location h1{
    padding-top: 50px;
  }
  .image-foot{
    background-image:url(images/discover.jpg);
    height: 500px;
    width: 600px;
    background-size: cover;
    display: flex;
    margin-right: 40px;
    

  }
 
  footer{
    background-color: #514128;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .foot-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: #514128;
    color: #fff;
    align-items: center;
    padding-left: 70px;

    gap: 60px;
    object-fit: cover;

  }
  .abouttus{
    font-family: initial;
    margin-top: 30px;
    text-align: left;
    letter-spacing: 1.4px;
  }
  .abouttus bold{
    font-weight:800px;
    font-size: 1.5rem;
  }
   .imggg{
    align-items: center;
    justify-content: center;
    display: flex;
    
    margin: auto;

  }
  



