@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');


:root{
    --blue: #9ab3f5;
    --purple: #9a1663;
    --white: #ffffff;
    --shadow: rgba(0,0,0,0.15) 0px 5px 15px 0px00;
    margin: 0;

}
.title-description1 {
        padding: 80px;
    font-size:clamp(2rem, calc(2rem+3.5vw),8rem);
    color: hsl(0, 0%, 50%);
    font-weight: 1000;
    background-image: url(images/dankil.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.title-description1 span{
    margin-top: 70px;
    font-size: 3rem;
    display: flex;
    text-align: center;

}
.title-description11{
display: flex;
font-size: 2rem;
justify-content: center;
align-items: center;

}
.country{
    padding: 30px;
    display: flex;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
#date{
    width: 200px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50px;
}
.middle{
    
    align-items: center;
    justify-content: center;
    height: 70vh;
    display: flexs;
    color: white;
    font-family: "Expletus Sans", sans-serif;

    background-color: black;
    transition: background-color 0.3s ease-in-out;
    
}
.middle h1{
  color: linear-gradient(to right,white,#bc6c25);
}
.all{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.title-description1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.card-group{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    color: white;
    
}
.card{
    width: 205px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
    filter:blur(5px)

}
.card .layer{
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3s;
}
.card .info{
    position: absolute;
    bottom: 0%;
    padding: 15px;
    opacity: 10;
    transition: 0.5s bottom,1.7s opacity;
}
.info p{
    font-size: 14px;
    margin-top: 3px;
    color: white;
}
.info p span{
  letter-spacing: -3px;
}
.info button{
 
    background: #fff;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
}
.info button a{
  text-decoration: none;
  color: #000;
}
.card:hover,
.card:hover img,
.card:hover layer{
    transform:scale(1.1) ;
    filter:blur(0px)


}
.card:hover > .layer{
    opacity: 1;
}
.card:hover > .info{
    bottom: 0;
    opacity: 1;
}
.card-group:hover > .card:not(:hover){
    filter:blur(0px)
}

.card-ggroup{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  color: black;
  
}
.ccard{
  width: 205px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.ccard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;

}
.ccard .layer{
  background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
}
.ccard .info{
  position: absolute;
  bottom: 0%;
  padding: 15px;
  opacity: 10;
  transition: 0.5s bottom,1.7s opacity;
}
.ccard .info p{
  font-size: 14px;
  margin-top: 3px;
  color: black;
}
.ccard:hover > .info p{
  color: white;
}
.ccard .info p span{
letter-spacing: -3px;
}
.ccard .info button{

  background: #fff;
  border: none;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 8px;
}
.ccard .info button a{
text-decoration: none;
color: #000;
}
.ccard:hover,
.card:hover img,
.cccard:hover layer{
  transform:scale(1.1) ;
  filter:blur(0px)


}
.ccard:hover > .layer{
  opacity: 1;
  color: white;
}
.ccard:hover > .info{
  bottom: 0;
  opacity: 1;
  color: white;
}
.card-ggroup:hover > .card:not(:hover){
  filter:blur(0px)
}

.card-groupp{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  color: white;
  
}
.cardd{
  width: 205px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.cardd img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transition: 0.5s;
}
.cardd .layer{
  background: linear-gradient(to top,rgba(0,0,0,1),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: 0.3s;
}
.cardd .info{
  position: absolute;
  bottom: -50%;
  padding: 5px;
  opacity: 0;
  
  transition: 0.8s ,left,1.7s opacity;
}
.info p{
  font-size: 14px;
  margin-top: 3px;
  color: white;
}
.info p span{
letter-spacing: -3px;
}
.cardd .info button{

  background: none;
  border: none;
  padding: 0;
  
  font-weight: bold;
  border-radius: 8px;
 
  margin-top: 8px;
}
.info button a{
text-decoration: none;
color: #000;
}
.info button img{
  width: 100px;
  height: 100px;
  object-fit: contain;

}
.cardd:hover,
.cardd:hover img,
.cardd:hover layer{
  transform:scale(1.1);

}
.cardd:hover > .layer{
  opacity: 1;
}
.cardd:hover > .info{
  bottom: 0;
  opacity: 1;
}
.card-groupp:hover > .cardd:not(:hover){
  filter:blur(0px)
}
.place-title{
    margin-top: 30px;
    display: flex;
    text-align: center;
    padding: 30px;

}
.momcard{
    color: rgb(19, 44, 44);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    }
    .hotel{
        margin-top: 0px;
    }
  
  
    .hotel-1 h2{
        padding-left: 30px;
        padding-top: 30px;
        display: flex;
        font-size: 2rem;
        

    }
    fieldset{background-color: #304663;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        height: 500px;
    }

    .card1 {
        width: 240px;
        gap: 50px;
        height: 240px;
        background-color: #111;
       flex: 0 0 auto;
       margin-top: 4em;
       overflow-x: none;
       border-radius: 50%;
    }
    #btn{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -45px;
      margin-left: 70px;
     
      
    
      width: 80px;
      height: 10px;
      margin-left: 80px;
     
    
    }
    #btn a{
      text-decoration: none;
      color: #000;
    }
    .hoverthingi{
        height: 40px;
        width: 200px;
        background:linear-gradient(to right,white ,#bc6c25);
        overflow: hidden;
        color: black;

       
        margin-top: 7rem;
       border-radius: 100px 100px 100px 100px;
       margin-left: 15px;
  
       font-weight:bolder;
    }
    
    .hoverthingi  img{
      width: 30px;
      height: 30px;
      margin-left: 5px;
      justify-content: center;
      margin-top: -5px;

    }
    
    
    #div1{
       background-image: url(images/guider1.jpg);             
       background-position: center;
       background-size: cover;
    }
    #div2{
        background-image: url(images/guider2.jpg);
        background-position: center;
       background-size: cover;
    }
    #div3{
        background-image: url(images/guider3.jpg);
        background-position: center;
        background-size: cover;
    }  
    #div4{
        background-image: url(images/guider4.jpg);
        background-position: center;
        background-size: cover;
    }
    .cerdtxt{
        display: flex;
        padding: 10px;
        text-align: center;
        font-size: 0.81rem;
      
        justify-content: center;
        color: #111;
        font-weight: 800;
      
        color: rgb(69, 69, 252);
        font-weight: 600;
    }
    
    footer{    
        background-image: linear-gradient(rgba(22, 19, 19, 0.067) ,#191414),  url('images/agelgel.jpg');
     
      background-position: center;
      background-size: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 30px;
        margin-top: 70px;
        height: 1000px;
    }
 
    .container {
     justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
        max-width: 600px;
        width: 100%;
        color: rgb(244, 238, 235);
        background-color: hsla(0, 1%, 24%, 0.7);
        /* background:linear-gradient(to bottom right,#6d3401 ,white); */
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      }
      
      .container header {
        font-size: 1.2rem;
        color: #fff;
        font-weight: 600;
        text-align: center;
      }
      
      .container .form {
        margin-top: 15px;
      }
      
      .form .input-box {
        width: 100%;
        margin-top: 10px;
      }
      
      .input-box label {
        color: #fff;
      }
      
      .form :where(.input-box input, .select-box) {
        position: relative;
        height: 35px;
        width: 70%;
        outline: none;
        font-size: 1rem;
        color: #808080;
        margin-top: 5px;
        border: 1px solid rgb(208, 233, 248);
        border-radius: 6px;
        padding: 0 15px;
        background: #fff;
      }
      
      .input-box input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      }
      
      .form .column {
        display: flex;
        column-gap: 15px;
      }
      
      .form .gender-box {
        margin-top: 10px;
      }
      
      .form :where(.gender-option, .gender) {
        display: flex;
        align-items: center;
        column-gap: 50px;
        flex-wrap: wrap;
      }
      
      .form .gender {
        column-gap: 5px;
      }
      
      .gender input {
        accent-color: #EE4E34;
      }
      
      .form :where(.gender input, .gender label) {
        cursor: pointer;
      }
      
      .gender label {
        color: #000;
      }
      
      .address :where(input, .select-box) {
        margin-top: 10px;
      }
      
      .select-box select {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        color: #474646;
        font-size: 1rem;
      }
      
      .form button {
        height: 40px;
        width: 100%;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.2s ease;
        background: #d8c9bc;
      }
      
      .form button:hover {
        background: #14075b;
      }
      .btns{
        display: flex;
        gap: 20px;
      }
      .btn {
        border: none;
        width: 15em;
        height: 5em;
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background: #1C1A1C;
        cursor: pointer;
        transition: all 450ms ease-in-out;
      }
      
      .sparkle {
        fill: #AAAAAA;
        transition: all 800ms ease;
      }
      
      .text {
        font-weight: 600;
        color: #AAAAAA;
        font-size: medium;
      }
      
      .btn:hover {
        background: linear-gradient(0deg,#A47CF3,#683FEA);
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
        transform: translateY(-2px);
      }
      
      .btn:hover .text {
        color: white;
      }
      
      .btn:hover .sparkle {
        fill: white;
        transform: scale(1.2);
      } 
      
.ui-switch {

  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: #bc6c25;
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);


}
@media (max-width: 700px) {
  .ui-switch {
    top: 10%;
    left: 85%;
    width: 150px;
    height: 150px;
  }
}

.ui-switch input {
  display: none;
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

